#volumeContainer {
  width: 30%;
  height: 10%;
  background-color: #8b8b8b;
  border-radius: 5px;
  cursor: pointer;
}

#volumeBar {
  width: 100%;
  height: 100%;
  background-color: #007bff;
  border-radius: 5px;
}

.bgCards {
  background-color: #8b8b8b;
}
@media screen and (max-width: 768px) {
  .position {
    transform: translateY(-80%);
  }

  .bgCards {
    background-color: black;
  }
}
