#hero-section-artist {
  height: 40%;
}

#verified-artist {
  font-size: 0.8rem;
}

#artist-popular-info {
  height: 60%;
}

#artist-following-btn {
  font-size: 0.7rem;
  font-weight: 900;
}

#artist-page-download {
  font-size: 0.8rem;
}

#song-duration {
  font-size: 0.8rem;
}

#heart-container {
  padding: 0.2rem;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

.bi-heart-fill {
  font-size: 0.5rem;
}

#num-song-i-liked .text-testo {
  font-size: 0.7rem;
}
